*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
 body{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 nav{

    background: rgb(0, 136, 248);
    height: 80px;
    width: 100%;
 }

label.logo {
 color:white;
 font-size: 35px;
 line-height: 80px;
 padding: 0 50px;
 font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
nav ul li a{
 color: white;
 font-size: 17px;
 padding: 7px 13px;
 border-radius: 3px;
 text-transform: uppercase;
}

a.active,a:hover{
background: #1b9bff;
transition: .5s;
}

.chkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    section{
        display: none;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .chkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #1e201e;
        top: 80px;
        left: 0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    section{
        display: none;
    }
    div.box{
        display: none;
    }
    div{
        display: block;
    }
    a:hover,:a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}

.box{
    position: relative;
    left: 290px;
    top: 100px;
    width: 300px;
    height: 500px;
    background-color:white ;
    border: 30px solid #0082e6;
    
}
.box .Profile{
    position: absolute;
    clip:rect(0px,390px,600px,80px);
    box-shadow: #1e201e;
    border-color: #fafafa;
    
}
.Profile{
    position: relative;
    right:-85px;
    top:15px;
    width: 500px;
    height: 500px;
    box-shadow:80px #1e201e;
}

.btn{
    z-index: 23;
    background: rgb(76,179,233);
    color: #fafafa;
    text-align: center;
    position: absolute;
    right: calc(140% - 390px);
    top: calc(380px - 180px);
    width: 46px;
    height: 46px;
    border-radius: 100%;
    cursor: pointer;
}
.btn i{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.box2{ 
    position: relative;
    bottom: 30px;
    left: 270px;
    width: 0px;
    overflow: hidden;
    height: 500px;
    background-color:  #1e201e;
    border-radius: 0 25px 25px 0;

}
#box2.open{
    max-width: 500px;
}

.box2 p{
    font-size: larger ;
    text-align: justify;
    padding: 15px 30px;
    color: #fafafa;
}

.box3{
    position: relative;
    top: 60px;
    bottom: 0px;
    left: 0px;
    width: 500px;
    height: 200px;
    justify-content: center;
    background: rgb(193,197,200);
    border-radius: 0 0 25px 0;
}

.icon{
    position: relative;
    display:flex;
    top: 6%; 
    align-items: center;
    justify-content: center;
    margin: 30px 100px;
    left: 60px;
}
.logo1{
    font-size: 70px;
    color:white;
    transition: .3s linear;
}
.logo{
    font-size: 70px;
    color:white;
    cursor: pointer;
    transition: .3s linear;
}

.logo .fas fa-map-marker-alt{
    color: black;
}

.icon-conten1{
 position: relative;
 top: 55px;
 right: 40px;
}
.icon-conten2{
    position: relative;
     top: 55px;
     right: 63px;
 }

 span{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    
 }

